{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12 header home">
	<img src="/static/media/pen.png" class="img-fluid" height=200px width=200px>
	</div>
	<div class="col-md-12 home title">
	just a thought...
	</div>
	<div class="col-md-12 header home">
	<br>Writing is hard. Getting genuine, honest feedback on your writing shouldn't be. 
	</div>
	<div class="col-md-12 header home">
	<br>Welcome to Just a Thought, giving every writer an opportunity to improve their writing at no cost. 
	</div>
	<div class="col-md-12 header home">
	<br>Upload your writing now and get feedback from fellow writers within 24 hours!
	</div>
	
</div>
<div class="row">
	<div class="col-md-5">
	</div>
	<div class = "col-md-5">
		<a class = "link" href="/upload_writing" id="bleh"><button type="button" class="btn btn-info hmebutton butON">Upload Writing</a></button>
	</div>
	<div class="col-md-2">
	</div>
</div>
{% endblock %}